body {
  background: #030303;
  font-family: Helvetica, sans-serif;
}

.draggable {
  cursor: move;
}

.linkable {
  stroke-width: 20;
  stroke: cyan;
  color: blue;
}

.ignore {
  display: none;
}

#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

/* describes what the buttons do on hover of buttons */
#descriptive-text {
  color: white;
  height: 150px;
  width: 1000px;
  font-size: 1em;
  font-family: Helvetica, sans-serif;
}

/* styles for display on the top to show what 'mode' is active*/
.active {
	background-color: salmon;
	width: 170px;
  	height: 1em;
  	text-align: center;
  	align-items: center;
  	color: white;
  	padding-top: 0.5em;
  	padding-bottom: 0.5em;
  	border-radius: 10px;
  	margin-left: 10px;
}

.passive {
	background-color: cornflowerblue;
	width: 170px;
  	height: 1em;
  	text-align: center;
  	align-items: center;
  	color: white;
  	padding-top: 0.5em;
  	padding-bottom: 0.5em;
  	border-radius: 10px;
  	margin-left: 10px;
}

#sideways-flex {
  padding: 20px;
  width: 1000px;
  height: 1em;
  display: flex;
  flex-flow: row wrap
  justify-content: space-around;
  align-items: center;
}

#output-button {
  height: 1em;
  width: 200px;
  background-color: #f0e150;
}

#close-button {
  height: 1em;
  background-color: #f0e150;
}

/* hiding and showing text elements within group elements of SVG */
.details > tspan {
	visibility: visible;
}

.hidden-details > tspan {
	visibility: hidden;
}

.triangles {
  fill: none;
}

.links {
  stroke: #fff;
  stroke-width: 10;
}

.sites {
  fill: #fff;
  stroke: #fff;
}

.triangles .primary {
  fill: #fff;
  fill-opacity: 0.3;
}

.links .primary {
  stroke: #fff;
  stroke-width: 20;
  fill: #fff;
  fill-opacity: 1.0;
}

.sites :first-child {
  fill: #fff;
}

.hidden-centroid {
  visibility: hidden;
}

.visible-centroid {
  visibility: visible;
}

#routeContainer {
	text-align: center;
}

#mapContainer {
	text-align: center;
}

.routeNode {
	fill: #4682B4;
	stroke: #4A4A4A;
}

.distancePath {
	stroke: #666666;
	stroke-width: 20px;
	fill: none;
}

.mapOutline {
	fill: #070707;
	stroke: #747474;
	stroke-width: 3px;
}

.mapLink {
	stroke:#ffffff;
	stroke-width: 1px;
}

.mapLinks {
  stroke:#ffffff;
  stroke-width: 1px;
}

.mapNode {
	fill: ##f0e150;
  stroke: #ffffff;
	stroke-width: 2px;
}

.mapLinkActive {
	fill:#ffffff;
	stroke:#c13030;
	stroke-width: 20px;
}

.mapNodeActive {
	fill: red;
	stroke: salmon;
	stroke-width: 10px;
}

.mapLabels {
	font-size: 10px;
  color: #ffffff;
}

p {
	text-align: center;
	font-size: .8em;
}

.active1 circle {
  stroke: #fff;
  stroke-width: 2px;
}
